*{
  margin: 0;
  padding: 0;
}

/*controles gerais*/
p{
  font-family:'Times New Roman', Times, serif;
}
/*header*/
div.top-bar{
  width: 100%;
  background-color: #ff0d6f
  
}
.imgtitle img{height:40px;}
.titlepage{
  color: #141414;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.barpesq{
  
  background-color:#141414
}
   
.flex{display: flex;}

.menu-links a{
  margin-left:30px;
  text-decoration: none;
  color:#141414;
  padding:5px;
}
.menu-links a:hover{
  color: #fff;
  background-color: #ff0d6f;
  border-radius: 10%;
}
/*footer*/
footer{width:100%; background-color:#141414;
margin-top:50px; margin-bottom:3px;}


.footmenu ul {list-style: none; display: flex;}
.footmenu a{
  text-decoration: none; margin:20px; 
  color:aliceblue
}

/*body*/
.imgprincipal{
  margin-top:10px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  width: 50%;
  
  background-size: 70%;
  height:600px;
  
  background-image: url("../images/cadeira.jpg")}
    
  /*home page*/

  .iniciohome{
    height:400px
  }
  .homeinitex a{
    text-decoration: none;
    text-align: center;
    color: #ff0d6f
  }

  
  .videoc{margin: 10px 10px;
  margin-top: 200px;}

  .texthomeending{
    text-align: center;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    

  }

  /*page produtos*/

  .titleproduto h2{
    text-align: center;
    color: #ff0d6f;
    margin-left: 40%;
    margin-bottom: 30px;
    margin-top:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  }
  .produtos{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .produtos img{
    width: 80%;
    height: 300px;
    margin:10px 0
  }
  .produtos button{
     text-align: center;
     margin-left:27%;
     margin-top: 10px;
     border-radius: 20% 20%;
     border:none;
     width:30%;
     background-color: #ff0d6f;

  }
  .produtos button:hover{
    background-color: #141414;
    color: #fff;
  }

   
/*post*/

.post a{
  text-decoration: none;
  color:#ff0d6f;
  font-family: Arial, Helvetica, sans-serif;
}
.post {margin-top:100px}

  /* barra lateral*/
  div .sobrebarralateral{
    background-color: #ff0d6f;
    margin-left:5%;
    
    
  }
  .sidebar1{float:left;}
  .sidebar1 li{
    background-color: #ff0d6f;
    list-style: none;
    padding:10%;
    
  }

  .imgsobre {
    margin-left: 10px;
    
    
  }

  
  .imgsobre img{
    border-radius: 50% 50%;
    
  }
  .imgsobre h3{
    text-align: center;
    margin-top:10%
  }


  
.sidebar2{
  background-color:#ff0d6f;
  float:right;
  height: 30%;
  margin-top: 100px;
}
.sidebar2 li{
  list-style: none;
  padding:5px;
}

/*CONTACTS*/
.titleform{
  margin-left: 40%;
  margin-top:30px;

}
.textform{text-align: center;
margin-bottom: 20px;}

.formname{color:#ff0d6f}
.formemail{margin-left: 15px;}
.adcname{margin-right: 20px;}

.formidea{
  margin-top:50px;
}

.form_idea_title{
  color:#ff0d6f;
}

.form_submit{margin-top: 50px;
border-radius: 0 50% 0 50%;
border:none;
background-color:#ff0d6f;
color:#141414;
width: 150px;}

